<h1>Добро пожаловать {{ firstname }} {{ lastname }}</h1>
<p>
Благодарим Вас за регистрацию на MyMarket!  Ваши входные данные(аккаунт):
</p>

<blockquote>
<table>
<tr>
	<td >Имя пользователя:</td>
	<td ><b>{{ username }}</b></td>
</tr>
<tr>
	<td >Пароль:</td>
	<td ><b>{{ password }}</b></td>
</tr>
</table>
</blockquote>

<p>
Пожалуйста, запишите их в безопасном месте и, пожалуйста, не давайте свой пароль
любому (даже сотрудникам MyMarket!)
</p>

<p>
Теперь, чтобы продолжить использование системы, <a href="#login">авторизуйтесь</a>.
</p>
