<div class="container well">
	<div class="row">
	    <div class="col-md-4">
			<ul class="list-unstyled">
				<li><img src="/images/yii-powered.png"></img>  Yii Powered</li>
				<li><img src="/images/backbone-mini.png"></img>  Backbone Powered</li>	
			</ul>
		   	
		</div>
	    <div class="col-md-8">
	        <div class="text-center-0">
	          <p>Права &copy; 2013, Артюх Сергей. Все права защищены.</p>
	    	</div>
		</div>
	</div>
</div>
