	  <div id="footer">
	   <div class="container">
	     <div class="row">
		   <div class="col-md-12">
	         <div class="text-center">
             </div>
	       </div>
	     </div>
	     <div class="row">
	       <div class="col-md-3">
            <ul class="list-unstyled">
              <li><a href="http://github.com/ghrabbit/sample-eshop-yii"><span class="sample-eshop-logo-mini">sample-eshop</span></a><span> Shop application sample series</span></li>
            </ul>
		  </div>
		  <div class="col-md-6">
            <ul class="list-unstyled">
              <li><a href="http://yiiframework.com"><span class="yii-logo-mini">yii</span></a> The Fast, Secure and Professional PHP Framework</li>
              <li><a href="http://mustache.github.com"><span class="mustache-logo-mini">mustache</span></a> Logic-less templates</li>
              <li><a href="http://backbonejs.org"><span class="backbone-logo-mini">backbone</span></a> Backbone Powered</li>
            </ul>
		  </div>
		  
	      <div class="col-md-3">
	        <div class="text-center">
	          <!--{-{-{labels.rights}}}-->
            </div>
	      </div>
	      
	    </div><!-- end row -->
	    <div class="row">
		   <div class="col-md-12">
	         <div class="text-center">
	          {{{labels.rights}}}
             </div>
	       </div>
	     </div>
	  </div>
	 </div>

