<div>
<h2><p class="top-title">{{labels.title}}</p></h2>
<div class="errorSummary">{{#errorSummary}}{{{ errorSummary }}}{{/errorSummary}}</div>
{{^errorSummary}}
<div id="products-holder"></div>
{{/errorSummary}}
</div>
	    


			
		
