<div class="alert alert-info alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<h3><i class="glyphicon glyphicon-exclamation-sign"></i> {{prompt}}:</h3>
	<div id="alert-body">
		{{#message}}
		<!--<h4 class="msg-header">{{attribute}}
			<small>-->
            <p class="msg-text">{{{message}}}</p>
			<!--</small>
		</h4>-->
		{{/message}}
	</div>
</div>



